# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# to skip locl.hcl for now
*.terraform.*

# to skip MacOS file found after creating .bicep
.DS_Store

# plan files (optional)
planout

# save the terraform plan as tfplan.out
tfplan.out

# Personal Guide
*Guide.docx

# ignore graph file
*.dot

#Flowchart
*.drawio